$text-color: #888;
$topbar-bg: #fff;
$topbar-link-color: #D64545;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-height: 80px;
$topbar-link-font-size: emCalc(15px);
$topbar-link-weight: 400;

$dark-gray: #2a2a2a;


$button-border-width: 0;

// Global Foundation Settings
@import "settings";

$row-width: emCalc(900px) !default; 

// Comment out this import if you are customizing you imports below
@import "foundation";


.bg-img {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background: black;
	background-position: center center;
}

body {
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", sans-serif;
	color: $text-color;
}

h1 {
	margin: 0;
	font-weight: 400;
	font-size: 24px;
	text-transform: uppercase;
}

h2 {
	font-weight: 100;
	font-size: 20px;
}

h3 {
	font-size: 18px;
	font-weight: 100;
	color: $text-color;
}
h4 {
	font-weight: 400;
	color: $text-color;
	font-size: 18px;
}

h5 {
	font-weight: 400;
	font-size: 16px;
}

p {
	font-family: "Lato", "Helvetica Neue", sans-serif;
	color: $text-color;
	font-size: 17px;
}

hr {
	border-top: 8px solid #E24D4D;
	margin: 0;
}
.name h1{
	color: #D64545;
}
.black {
	background-color: $text-color;
	color: white;
	padding: 10px;
}

.wrapper {
	padding: 60px 0 60px 0;
	
	h4 {
		margin-bottom: 40px;
	}
}

#graph {
	opacity: 0.8;
}

.top-bar li a {
	font-family: 'Lato', sans-serif;
}

#hero {
	background: no-repeat top center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-color: $dark-gray;
    
    &#hero img {
		margin: 0 0 25px 0;
		width: 160px;
	}
}

#hero-content {
	padding: 100px 0 100px 0;
}
.bgmask {
	width: 100%;
	height: 100%;
	background-color: $dark-gray;
	display: none;
	position: absolute;
}
.dark {
	color: white;
}

#contact {
/*	background: url('../images/map.png') no-repeat center bottom fixed; 
*	-webkit-background-size: 100% auto;
*	-moz-background-size: 100% auto;
*	-o-background-size: 100% auto;
*	background-size: 100% auto;*/
	background-color: $dark-gray;

	h5 {
		color: #fff;
	}

	p {
		color: #222;
		margin: 0;
	}
}

.btn {
	@include button-base;
	@include button-size;
	@include button-style(#D64545, 4px, false);
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	box-shadow: 0 3px 1px #D12626;

	span {
		display: inline-block;
		padding: 4px 0 4px 24px;
		background: url('../images/mail.svg') no-repeat left;
		background-size: 16px;
	}
}


strong {
	font-weight: 400;
	font-size: emCalc(18px);
}

.amp {
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
	font-style: italic;
	font-weight: normal;
	color: #D64545;
}
#nav .right {
	border-width: 0;
	background-color: transparent;
}

#skills {
	p {
		margin-top: 10px;
	}

	h2 {
		color: #D64545;
	}
	h3 {
		color: #fff;
	}
	h5 {
		margin-bottom: 45px;
	}
}

#skills, #projects {
	h2 {
		font-weight: 400;
	}
}

::selection {
	background: #ffb7b7; /* Safari */
	color: #fff;
}
::-moz-selection {
	background: #ffb7b7; /* Firefox */
	color: #fff;
}

.success {
	display: none;
}
.title-area h1 {
	color: #fff;
	font-weight: 800;
}

.img-wrap {
	overflow:hidden;
	position:relative;
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color: #ffffff;
	line-height: 0;

	h5, p {
		color: #fff;
	}

	p {
		font-size: 13px;
	}

	&:hover .img-overlay {
		opacity:0.85;
		filter: alpha(opacity = 85);
	}

	img {
		width: 100%;
	}
}
.img-overlay {
	background-color: $dark-gray;
	bottom:0;
	color:#fff;
	opacity:0;
	filter: alpha(opacity = 0);
	position:absolute;
	width: 100%;
	height: 100%;
	z-index:500;
	text-align: left;
	padding: 10px;
}

#contact {
	h5 {
		display: inline-block;
		padding: 4px 0 4px 50px;
		background: url('../images/mail.png') no-repeat left;	
		
		&:hover {
			color: #D64545;
		}
	}
}

#about {
	img {
		margin-top: 20px;
	}
}

.sprites {
	margin-bottom: 20px;

	a {
		background-image: url('../images/sprites.svg');
		width: 50px;
		height: 50px;
		display: inline-block;

		&#twitter {
			background-position: 0 0;

			&:hover {
				background-position: 0 -50px;
			}
		}

		&#flickr {
			background-position: -50px 0;

			&:hover {
				background-position: -50px -50px;
			}
		}

		&#linkedin {
			background-position: -100px 0;

			&:hover {
				background-position: -100px -50px;
			}
		}
	}
}
.mail {
	margin-top: 40px
}
#projects {
	background-color: #D64545;
	h2 {
		color: #eee;
		margin-bottom: 45px;
	}
}
.shadow {
	-moz-box-shadow:    1px 0px 1px 0px $text-color;
  	-webkit-box-shadow: 1px 0px 1px 0px $text-color;
  	box-shadow:         1px 0px 1px 0px $text-color;
}
#about a {
	color: #D64545;
}

.graph-wrapper {
	margin: 10px;
	background-color: #d9d9d9;
	opacity: 0.5;
	transition: all 1s linear;
	h3 {
		margin: 0;
		line-height: 35px;
		padding-left: 40px;

	}

	.code {	
		background: url('../images/code.svg') no-repeat;
	}

	.web {	
		background: url('../images/cloud.svg') no-repeat;
	}

	&> div {

		&:first-child {
			background-color: $dark-gray;
			
			h2 {
				color: #fff;
			}

			padding: 10px;
	    }

    	padding: 0 20px 20px 20px;
    }

    /*  The wrapper for the bar */
	.graph {
	    height: 20px;
	    margin-top: 20px;
	    background-color: #eee;
	    text-align: left;
	}

	/*  The actual bar itself */
	.graph-bar {
	    float: left;
	    width: 0;
	    height: 100%;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    font-family: "Lato", "Helvetica Neue", sans-serif;
	    overflow: hidden;
	    transition: all 0.6s linear;

	    h6 {
	    	color: #fff;
	    	padding: 0 5px;
	    	font-weight: normal;
	    	margin: 0;
	    	line-height: 20px;
	    }
	    .percentage {
	    	float: right;
	    }
	}
}