.bg-img {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: black;
  background-position: center center; }

html, body {
  height: 100%;
  background-color: #2a2a2a;
  font-family: "Lato", "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  color: #fff; }

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase; }

h2 {
  font-weight: 400;
  font-size: 22px; }

h3 {
  font-size: 18px;
  font-weight: 100;
  color: #fff; }

h4 {
  font-weight: 400;
  color: #fff;
  font-size: 18px; }

h5 {
  font-weight: 400;
  font-size: 16px; }

p {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 17px; }

hr {
  border-top: 8px solid #E24D4D;
  margin: 0; }

.name h1 {
  color: #D64545; }

.black {
  background-color: #fff;
  color: white;
  padding: 10px; }

.wrapper {
  padding: 60px 0 60px 0; }
  .wrapper h4 {
    margin-bottom: 40px; }

#graph {
  opacity: 0.8; }

.contain-to-grid {
  transition: top 0.2s linear; }

.top-bar li a {
  font-family: 'Lato', sans-serif; }

#hero {
  color: #fff;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative; }
  #hero#hero img {
    margin: 0 0 25px 0;
    width: 160px; }

#hero-content {
  position: absolute;
  bottom: 72px; }

.button {
  border: 2px solid #D64545;
  color: #D64545;
  display: inline-block;
  margin-top: 16px;
  padding: 12px 28px;
  border-radius: 24px;
  text-decoration: none; }
  .button:hover {
    background-color: #D64545;
    color: #2a2a2a; }

.bgmask {
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  display: none;
  position: absolute; }

.dark {
  color: white; }

#contact {
  /*	background: url('../images/map.png') no-repeat center bottom fixed; 
  *	-webkit-background-size: 100% auto;
  *	-moz-background-size: 100% auto;
  *	-o-background-size: 100% auto;
  *	background-size: 100% auto;*/
  background-color: #2a2a2a; }
  #contact h5 {
    color: #fff; }
  #contact p {
    color: #222;
    margin: 0; }

strong {
  font-weight: 400;
  color: #D64545; }

.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
  color: #D64545; }

#nav-wrapper {
  width: 100%;
  position: fixed; }

#nav {
  width: 1000px;
  margin: 0 auto;
  padding: 24px 0; }

#logo {
  width: 40px;
  height: 40px; }

#skills p {
  margin-top: 10px; }
#skills h2 {
  color: #D64545; }
#skills h3 {
  color: #fff; }
#skills h5 {
  margin-bottom: 45px; }

#skills h2, #projects h2 {
  font-weight: 400; }

::selection {
  background: #ffb7b7;
  /* Safari */
  color: #fff; }

::-moz-selection {
  background: #ffb7b7;
  /* Firefox */
  color: #fff; }

.success {
  display: none; }

.title-area h1 {
  color: #fff;
  font-weight: 800; }

.img-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  line-height: 0; }
  .img-wrap h5, .img-wrap p {
    color: #fff; }
  .img-wrap p {
    font-size: 13px; }
  .img-wrap:hover .img-overlay {
    opacity: 0.85;
    filter: alpha(opacity=85); }
  .img-wrap img {
    width: 100%; }

.img-overlay {
  background-color: #2a2a2a;
  bottom: 0;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
  text-align: left;
  padding: 10px; }

#contact h5 {
  display: inline-block;
  padding: 4px 0 4px 50px;
  background: url("../images/mail.png") no-repeat left; }
  #contact h5:hover {
    color: #D64545; }

#about img {
  margin-top: 20px; }

.sprites {
  margin-bottom: 20px; }
  .sprites a {
    background-image: url("../images/sprites.svg");
    width: 50px;
    height: 50px;
    display: inline-block; }
    .sprites a#twitter {
      background-position: 0 0; }
      .sprites a#twitter:hover {
        background-position: 0 -50px; }
    .sprites a#flickr {
      background-position: -50px 0; }
      .sprites a#flickr:hover {
        background-position: -50px -50px; }
    .sprites a#linkedin {
      background-position: -100px 0; }
      .sprites a#linkedin:hover {
        background-position: -100px -50px; }

.mail {
  margin-top: 40px; }

#projects {
  background-color: #D64545; }
  #projects h2 {
    color: #eee;
    margin-bottom: 45px; }

.shadow {
  -moz-box-shadow: 1px 0px 1px 0px #fff;
  -webkit-box-shadow: 1px 0px 1px 0px #fff;
  box-shadow: 1px 0px 1px 0px #fff; }

#about a {
  color: #D64545; }

.graph-wrapper {
  margin: 10px;
  background-color: #d9d9d9;
  opacity: 0.5;
  transition: all 1s linear;
  /*  The wrapper for the bar */
  /*  The actual bar itself */ }
  .graph-wrapper h3 {
    margin: 0;
    line-height: 35px;
    padding-left: 40px; }
  .graph-wrapper .code {
    background: url("../images/code.svg") no-repeat; }
  .graph-wrapper .web {
    background: url("../images/cloud.svg") no-repeat; }
  .graph-wrapper > div {
    padding: 0 20px 20px 20px; }
    .graph-wrapper > div:first-child {
      background-color: #2a2a2a;
      padding: 10px; }
      .graph-wrapper > div:first-child h2 {
        color: #fff; }
  .graph-wrapper .graph {
    height: 20px;
    margin-top: 20px;
    background-color: #eee;
    text-align: left; }
  .graph-wrapper .graph-bar {
    float: left;
    width: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    overflow: hidden;
    transition: all 0.6s linear; }
    .graph-wrapper .graph-bar h6 {
      color: #fff;
      padding: 0 5px;
      font-weight: normal;
      margin: 0;
      line-height: 20px; }
    .graph-wrapper .graph-bar .percentage {
      float: right; }

@-webkit-keyframes btnPulse {
  from {
    background-color: #D64545; }
  50% {
    background-color: #E86F6F; }
  to {
    background-color: #D64545; } }
@keyframes btnPulse {
  from {
    background-color: #D64545; }
  50% {
    background-color: #E86F6F; }
  to {
    background-color: #D64545; } }
.top-bar .btn {
  -webkit-animation-name: btnPulse;
  -moz-animation-name: btnPulse;
  -ms-animation-name: btnPulse;
  -o-animation-name: btnPulse;
  animation-name: btnPulse;
  -webkit-animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -ms-animation-duration: 1.6s;
  -o-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  top: -2px; }
  .top-bar .btn:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none; }
